* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main{
	width:100%;
	margin:50px auto;
}

.site{
	border: 1px solid #eee;
	width:100%;
	margin-right: 30px;
	float:left;
	padding:10px;
	position: relative;
}

.site:last-child{
	margin-right: 0;
}

.site-image1{
	width:100%;
	height:150px;
	background-image:url(img/flow01.png);
	background-size:cover;
	background-position:bottom;
}

.site-image2{
	width: 100%;
	height: 150px;
	background-image:url(img/flow02.png);
	background-size:cover;
	background-position:bottom;
}

.site-image3{
	width: 100%;
	height:150px;
	background-image:url(img/flow03.png);
	background-size:cover;
	background-position:bottom;
}

.step{
	color:white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
    padding:3px;
}

.site-title{
  margin: 15px 0 5px;
}

@media screen and (max-width:768px) {
	.site{
		float:none;
	}