* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

main{
	width:100%;
	margin:50px auto;
}

.site{
	border: 1px solid #eee;
	width: 300px;
	margin-right: 30px;
	float:left;
	padding:10px;
	position: relative;
}

.site:last-child{
	margin-right: 0;
}

.site-image1{
	width: 280px;
	height:150px;
	background-image:url(img/flow01.png);
	background-size:cover;
	background-position:bottom;
}

.site-image2{
	width: 280px;
	height: 150px;
	background-image:url(img/flow02.png);
	background-size:cover;
	background-position:bottom;
}

.site-image3{
	width: 280px;
	height:150px;
	background-image:url(img/flow03.png);
	background-size:cover;
	background-position:bottom;
}

.step{
	color:white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: orange;
    padding:3px;
}

.site-title{
  margin: 15px 0 5px;
}

@media screen and (max-width:768px) {
	.site{
		float:none;
	}

	/* すべての画面で適用される設定です */
.social i {   
	color:black;
  }
   
  /* タブレット横置き(1024px)程度の大きさ以下に適用される設定です */
  @media screen and (max-width:1024px) {  
	.social i {    
	  color: green;  
	  }
  }
   
  /* タブレット縦置きサイズ(768px)程度の画面の大きさ以下に適用される設定です */
  @media screen and (max-width:768px) {  
	.social i {    
	  color: red;  
	  }
  }
   
  /* スマートフォンサイズ(425px)程度の画面の大きさ以下に適用される設定です */
  @media screen and (max-width:425px) {  
  .social i {
	  color: blue;
	  }
  }